@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 92vw 92vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


#board{
    background: linear-gradient(rgb(174, 201, 176), rgb(190, 190, 150));
    width: 95vmin;
    height: 95vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.head{
    background: linear-gradient(rgb(226, 132, 132), rgb(232, 230, 127));
    border: 2px solid purple;
    transform: scale(2);
    border-radius: 9px;
    z-index: 5;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 10px;
}

#scoreId{
    position: absolute;
    top: 9px;
    right: 201px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#highScoreId{
    position: absolute;
    top: 60px;
    right: 160px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
